<header class="belt">
  <div class="header__title">
      <a class="header__back" ui-sref="home">⬅</a>GrooveScanner
  </div>
  <div class="header__subtitle">
      Quality events on a budget because planning just got easy
  </div>
</header>


<div ng-if="loading_failed" class="error">
    <div class="error__icon">&#9785;</div>
    <div class="error__text">Error occured
    <small>{{ loading_failed }}</small></div>
</div>

<div ng-show="event && !loading_failed" class="bookmark">
    <div class="plan__container small-7 columns">
        <div ng-if="!plans" class="error">
            <div class="error__text">Please wait
            <small>Looking for suitable plans for you.<br />(it may take a while)</small></div>
        </div>

        <div class="plan" ng-click="modal(plan)" ng-repeat="plan in plans">
            <div class="plan__airport">
                <img src="assets/flight.png" />

                <div class="plan__data">
                    <div class="name">{{ sourceAirport.city }}, {{ sourceAirport.country }}</div>
                    <div class="description">departure on {{ plan.In|date:"dd MMMM yyyy" }}</div>
                </div>
            </div>

            <div class="plan__hotel">
                <img src="assets/hostel.png" />

                <div class="plan__data">
                    <div class="smaller_name">{{ plan.hotel.name|characters:33:true }}</div>
                    <div class="description">approx. {{ plan.hotel.distance_from_search }} km from airport</div>
                </div>
            </div>

            <div class="plan__airport">
                <img src="assets/flight.png" />

                <div class="plan__data">
                    <div class="name">{{ event.place.location.city }}, {{ event.place.location.country }}</div>
                    <div class="description">departure on {{ plan.Out|date:"dd MMMM yyyy" }}</div>
                </div>
            </div>

            <div class="plan__summary">
                Total cost: <strong>{{ plan.hotel.price + plan.Price }} EUR</strong>
            </div>
            <div class="plan__summary-info">
                (click on a plan to see details)
            </div>
        </div>
    </div>

    <div class="event__container small-5 columns">
        <div class="event">
            <div class="event__name">{{ event.name }}</div>
            <div class="event__time">{{ event.start_time|date:"dd MMMM yyyy" }} to {{ event.end_time|date:"dd MMMM yyyy" }}</div>
            <div class="event__description">{{ event.description | characters:225 :true}}</div>

            <iframe class="event__map"
                    frameborder="0" scrolling="no"
                    marginheight="0" marginwidth="0"
                    ng-src="{{ event_map }}"></iframe>
            <br />
            <div class="event__venue">
                {{ event.place.location.street }}<br />({{ event.place.location.zip }}) {{ event.place.location.city }}, {{ event.place.location.country }}
            </div>
        </div>

        <div class="event__social">
            Share these proposals
            <br />

            <a social-facebook>
                <img src="assets/fb.jpg" />
            </a>
            <a social-gplus>
                <img src="assets/gplus.jpg" />
            </a>
            <a social-twitter>
                <img src="assets/twitter.jpg" />
            </a>
        </div>
    </div>
</div>