<header class="big">
  <div class="header__title">GrooveScanner</div>
  <div class="header__subtitle">Quality events on a budget
because planning just got easy</div>
</header>

<script type="text/ng-template" id="customTemplate.html">
  <a>
    <img class="typeahead__thumbnail" ng-src="{{ match.model.thumbnail }}" ng-if="match.model.thumbnail" />
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <div class="typeahead__date">
      <span ng-if="match.model.starting_date">{{ match.model.starting_date }} <span ng-if="match.model.ending_date">to {{ match.model.ending_date}}</span></span>
    </div>
  </a>
</script>

<form ng-submit="search.submit()">
  <div class="search">
    <div class="search__label">Please, type event name and your location:</div>

    <div class="row" style="line-height:60px;">
      <div class="inb">
        <input type="text" typeahead-loading="search.loading" ng-model="search.event" data-typeahead-wait-ms="500" typeahead="key as key.name for key in search.search($viewValue)" typeahead-template-url="customTemplate.html" class="search__query" placeholder="Event name" />
      </div>
      <div class="inb">
        <input type="text" ng-model="search.airport" typeahead="airport as airport.name for airport in search.airports" class="search__location" placeholder="Nearby airport" />
      </div>
      <div class="inb">
        <input class="search__submit" type="submit" />
      </div>
    </div>
  </div>
</form>