<header class="big">
  <div class="header__title">GrooveScanner</div>
  <div class="header__subtitle">Quality events on a budget
because planning just got easy</div>
</header>

<script type="text/ng-template" id="eventTemplate.html">
  <a>
    <img class="typeahead__thumbnail" ng-src="{{ match.model.thumbnail }}" ng-if="match.model.thumbnail" />
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <div class="typeahead__date">
      <span ng-if="match.model.start_time">{{ match.model.start_time|date:"dd MMMM yyyy" }} <span ng-if="match.model.end_time">to {{ match.model.end_time|date:"dd MMMM yyyy"}}</span></span>
    </div>
  </a>
</script>

<script type="text/ng-template" id="airportTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    <div class="typeahead__date">
      {{ match.model.code }}
    </div>
  </a>
</script>

<form ng-submit="search.submit()">
  <div class="search">
    <div class="search__label">Insert the event name and your closest airport</div>

    <div class="row" style="line-height:60px;">
      <div class="inb">
        <input type="text" ng-model="search.event" data-typeahead-wait-ms="500" typeahead="key as key.name for key in search.search($viewValue) | limitTo: 10" typeahead-template-url="eventTemplate.html" ng-class="['search__query', event_loading ? 'loading': '']" typeahead-loading="event_loading" placeholder="Event name" />
      </div>
      <div class="inb">
        <input type="text" ng-model="search.airport" data-typeahead-wait-ms="500" typeahead="key as key.name for key in search.airports | filter:$viewValue  | limitTo: 10" typeahead-template-url="airportTemplate.html" ng-class="['search__location', location_loading ? 'loading' : '']" placeholder="Closest airport" ng-change="location_loading = false" />
      </div>
      <div class="inb">
        <input class="search__submit" type="submit" value="Create trip proposals for me" />
      </div>
    </div>
  </div>
</form>

<footer>
    <div class="footer__label">Powered by</div>

    <div class="footer__sponsor">
      <img src="http://www.skyscanner.net/images/LinkToUs/125x125.png" />
    </div>
    <div class="footer__sponsor">
      <img src="http://www.wolfram.com/common/images/gl-logo-spikey.png" />
    </div>
</footer>