/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@mixin uno {
  font-size:24pt !important;
  font-weight: 600;
}

@mixin duo {
  font-size:11pt !important;
  line-height:20px;
  font-weight: 300;
}

@mixin box {
  background:rgba(255,255,255,0.95);

  -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.35);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color:#000;
}

.bg_overlay {
  background-size: cover;
  background-image: url('/assets/background.jpg');

  position:fixed;
  left:0;
  top:0;
  width:100%;
  height: 150%;
  z-index: 1;

  background-position: 0px 0px;

  -webkit-transition: 1600ms ease;
   -moz-transition: 1600ms ease;
     -o-transition: 1600ms ease;
        transition: 1600ms ease;

  &.low {
    background-position: 0px 0px;
  }

  &.high {
    background-position: 0px -200px;
  }
}

[ui-view] {
  position: absolute;
  left:0;
  top:0;
  width:100%;

  z-index: 10;
}

/** HEADER **/
header {
  height: 100%;
  text-align: center;
  color: #fff;

  &.belt {
    opacity:1;

    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;

    height:62px;

    @include box;

    .header__title { float:left; width:40%; margin-top:0px !important; color:#333; font-size:32pt; line-height: 60px; vertical-align: middle; }
    .header__subtitle { float:right; font-size:14pt !important; width:50%; margin-top:2px !important; line-height: 60px; vertical-align: middle; color:#444; }
  }
}

.header__title {
  font-weight:800;
  font-size:56pt;
  margin:100px 0px 0px 0px;
  text-shadow:1px 1px 3px rgba(0,0,0, 0.2);
  letter-spacing:-1px;
}

.header__subtitle {
  font-weight:400;
  font-size:18pt;
  margin-top:-10px;
  text-shadow:1px 1px 3px rgba(0,0,0, 0.1);
}

.header__back {
  font-size:27pt !important;
  display:inline-block;
  margin-right:20px;
  color:#aaa !important;
}

/** SEARCH BOX **/
.search {
  color: #fff;

  border:4px;
  padding:12px;

  text-align: center;
  margin: 80px auto auto;

  width:800px;

  .columns {
    padding:0 !important;
  }
}

.search input {
  background: #fff;

  padding: 0 1em !important;
  height:60px;
  margin-top:16px;
  border-radius: 10px;
  border:1px solid rgba(0,0,0,0.3);
  font-weight:300;
  font-size:15px !important;
  font-family: 'Raleway';

  display:inline-block !important;
  vertical-align: top;

  &:focus, &:active { outline:none !important; }
}

.search__query {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  width:300px !important;
  border-right: 0px !important;
  &.loading {
    background-size: 40px 40px !important;
    background: #fff url('http://mindovermunch.com/wp-content/uploads/AAPL/loaders/Thin%20broken%20ring.gif') no-repeat 250px 13px !important;
  }
}

.search__location {
  border-radius:0px !important;
  width:180px !important;
  border-left:1px solid rgba(0,0,0,0.6);

  &.loading {
    background-size: 40px 40px !important;
    background: #fff url('http://mindovermunch.com/wp-content/uploads/AAPL/loaders/Thin%20broken%20ring.gif') no-repeat 130px 13px !important;
  }
}

.search__submit {
  display:block !important;
  background:#fff !important;

  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

  color:#444;
  font-weight:600 !important;

  height:37px;
  margin-left:-3px;
}

.search__label {
  font-weight:300;
  font-size:15pt;
  margin-bottom:10px;
}

.typeahead__date {
  font-size:9pt;
}

.typeahead__thumbnail {
  float:left;
  height:40px;
  width:40px;
  border-radius:3000px;
}


.grid-row {
  @include grid-row;
}

.inb { display:inline-block; margin-left:-4px; }

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/** BOOKMARK SECTION **/
.bookmark {
  @include grid-row;
  margin-top:30px !important;
}

.event__container {
  padding:10px;
}

.plan__container {
  padding:10px;
  text-align: left;
}

.plan__airport, .plan__hotel {
  img {
    margin-left:20px;
    height:80px !important;
    display:inline-block;
    vertical-align: top;
  }
  padding:10px 0px;
  border-bottom:1px dashed rgba(0,0,0,0.1);
}
.plan__data {
  display:inline-block;
  line-height:60px;
  padding-left:30px;
  .name { @include uno; }
  .smaller_name { @include uno; font-size:18pt !important; }
  .description { @include duo; }
}

.plan__summary { text-align:right; padding:10px 10px 10px 10px; }
.plan__summary-info { height:30px; line-height: 30px; color:#888; text-align: center; margin-top:-36px; font-size:10pt !important; }

.spacer { display:block; width:100%; height:1px; border-bottom:1px solid rgba(0,0,0,0.15); margin:20px 0px; }

/** EVENT **/
.event {
  @include box;
  padding:12px 8px;
}

.event__name {
  @include uno;
}
.event__description {
  @include duo;
  padding:5px 15px;
}
.event__time {
  @include duo;
  padding:5px 5px;
}
.event__venue {
  @include duo;
  padding:5px 15px;
}
.event__map {
  margin-top:40px;
  width:100%;
  height:250px;
}
.event__social {
  margin-top:20px;
  @include box;
  padding:12px 8px;

  img {
    max-height: 35px !important;
  }
}

/** button($bg-hover:null, $border-color:null, $transition: true) { **/
.event__share {
  @include button(red);
}

/** PLAN **/
.plan {
  @include box;
  background:rgba(255,255,255,1) !important;

  margin-bottom:20px;
}

/** ERROR **/
.error {
  margin:100px;
  color:#fff !important;
  text-align:center;
  text-shadow:3px 3px 3px rgba(0,0,0,0.3);
}
.error__icon {
  font-size:152pt !important;
}
.error__text {
  font-size:24pt !important;

  small {
    font-size:18px;
    display:block;
  }
}

/** FOOTER **/
footer {
  margin-top:40px;
  margin-bottom:10px;
  padding:10px 0px;
  color:#fff;
  font-weight:100;
  line-height: 100px;
  vertical-align: middle;
  background:rgba(0,0,0,0.1);
}
.footer__label {
  display:inline-block;
  margin-right:40px;
  font-size:10pt;
}
.footer__sponsor {
  max-height:70px;
  margin-right:15px;
  display:inline-block;
}


/** FADE IN ANIMATION **/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// injector
// endinjector
